In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
bmi_df = pd.read_csv('./bmi.csv')

In [4]:
bmi_df.head()

  Sex   "Weight (lbs Sep)"   "Weight (lbs Apr)"   "BMI (Sep)"   "BMI (Apr)"
0   M                159.0                  130          0.00         18.14
1   M                214.0                  190         19.70         17.44
2   M                163.0                  152         24.09         22.43
3   M                205.0                  194         26.97         25.57
4   F                150.0                  141         21.51         20.10

In [5]:
bmi_df.columns

Index(['Sex', ' "Weight (lbs Sep)"', ' "Weight (lbs Apr)"', ' "BMI (Sep)"',
       ' "BMI (Apr)"'],
      dtype='object')

In [7]:
bmi_df.describe()

        "Weight (lbs Sep)"   "Weight (lbs Apr)"   "BMI (Sep)"   "BMI (Apr)"
count            67.000000            67.000000     67.000000     67.000000
mean            137.567164           145.955224     20.754776     22.484179
std              38.854127            24.904322      6.207081      3.602527
min               0.000000           104.000000      0.000000     16.890000
25%             123.000000           128.000000     19.615000     20.230000
50%             141.000000           145.000000     21.510000     22.310000
75%             155.000000           154.000000     22.930000     23.860000
max             214.000000           231.000000     36.570000     40.860000

In [33]:
pd.get_dummies(pd.Series(bmi_df['Sex'])).head()

   F  M
0  0  1
1  0  1
2  0  1
3  0  1
4  1  0