In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import scipy as sp

In [2]:
df = pd.DataFrame({'Value':['100','78','129'] , 'Date':['02/20/2015','01/15/2016','08/21/2015']})

In [13]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(by=['Date'])

In [14]:
df

  Value       Date
0   100 2015-02-20
2   129 2015-08-21
1    78 2016-01-15